@model IEnumerable<EmpsMVCUsingEF.Models.Emp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    <label>Search by Department</label>
    @Html.DropDownList("dID", new SelectList(ViewBag.depts, "DeptID", "DeptName"), htmlAttributes: new { @class = "form-control" })
    <br />
    <input type="submit" value="Filter" class="btn btn-default" />
}
    <br />
    <br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpHDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept.DeptName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpFname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpLname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpHDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CtyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept.DeptName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmpID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpID })
                </td>
            </tr>
        }

    </table>
